<a href="https://colab.research.google.com/github/21413LimYY/kjhsdfakl/blob/main/21413_10%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
row = pd.date_range('20210507', periods=6)
col = list('ABCD')
df = pd.DataFrame(np.random.randn(6,4), index=row, columns=col)

In [8]:
df

                   A         B         C         D
2021-05-07 -0.871958  0.768293  0.410720 -0.437971
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087
2021-05-09 -0.380402  0.475037  1.429254  0.097980
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712
2021-05-12  0.013586 -1.295162 -0.892286  0.659001

In [9]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20210507', periods=6))

In [10]:
df['F'] = s1

In [12]:
df

                   A         B         C         D  F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971  1
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087  2
2021-05-09 -0.380402  0.475037  1.429254  0.097980  3
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706  4
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712  5
2021-05-12  0.013586 -1.295162 -0.892286  0.659001  6

In [14]:
df>0

                A      B      C      D     F
2021-05-07  False   True   True  False  True
2021-05-08   True  False  False  False  True
2021-05-09  False   True   True   True  True
2021-05-10  False   True  False  False  True
2021-05-11  False  False  False  False  True
2021-05-12   True  False  False   True  True

In [15]:
df[df>0]

                   A         B         C         D  F
2021-05-07       NaN  0.768293  0.410720       NaN  1
2021-05-08  1.057577       NaN       NaN       NaN  2
2021-05-09       NaN  0.475037  1.429254  0.097980  3
2021-05-10       NaN  0.295569       NaN       NaN  4
2021-05-11       NaN       NaN       NaN       NaN  5
2021-05-12  0.013586       NaN       NaN  0.659001  6

In [17]:
df2=df.copy

In [18]:
df2

<bound method NDFrame.copy of                    A         B         C         D  F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971  1
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087  2
2021-05-09 -0.380402  0.475037  1.429254  0.097980  3
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706  4
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712  5
2021-05-12  0.013586 -1.295162 -0.892286  0.659001  6>

In [21]:
df[df>0]

                   A         B         C         D  F
2021-05-07       NaN  0.768293  0.410720       NaN  1
2021-05-08  1.057577       NaN       NaN       NaN  2
2021-05-09       NaN  0.475037  1.429254  0.097980  3
2021-05-10       NaN  0.295569       NaN       NaN  4
2021-05-11       NaN       NaN       NaN       NaN  5
2021-05-12  0.013586       NaN       NaN  0.659001  6

In [22]:
df2=df.copy()

In [24]:
df2

                   A         B         C         D  F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971  1
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087  2
2021-05-09 -0.380402  0.475037  1.429254  0.097980  3
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706  4
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712  5
2021-05-12  0.013586 -1.295162 -0.892286  0.659001  6

In [25]:
df2[df2>0]

                   A         B         C         D  F
2021-05-07       NaN  0.768293  0.410720       NaN  1
2021-05-08  1.057577       NaN       NaN       NaN  2
2021-05-09       NaN  0.475037  1.429254  0.097980  3
2021-05-10       NaN  0.295569       NaN       NaN  4
2021-05-11       NaN       NaN       NaN       NaN  5
2021-05-12  0.013586       NaN       NaN  0.659001  6

In [ ]:
df2[df2>0] = -df

In [26]:
df2

                   A         B         C         D  F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971  1
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087  2
2021-05-09 -0.380402  0.475037  1.429254  0.097980  3
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706  4
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712  5
2021-05-12  0.013586 -1.295162 -0.892286  0.659001  6

In [27]:
df

                   A         B         C         D  F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971  1
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087  2
2021-05-09 -0.380402  0.475037  1.429254  0.097980  3
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706  4
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712  5
2021-05-12  0.013586 -1.295162 -0.892286  0.659001  6

In [29]:
df.mean()

A   -0.159299
B   -0.243267
C   -0.114052
D   -0.253416
F    3.500000
dtype: float64

In [30]:
df.mean(0)

A   -0.159299
B   -0.243267
C   -0.114052
D   -0.253416
F    3.500000
dtype: float64

In [31]:
df.mean(1)

2021-05-07    0.173817
2021-05-08    0.371909
2021-05-09    0.924374
2021-05-10    0.536646
2021-05-11    0.372185
2021-05-12    0.897028
Freq: D, dtype: float64

In [32]:
print(df.apply(np.cumsum));print() # 데이터에 함수를 적용
# np.cumsum : 배열에서 주어진 축에 따라 누적되는 원소들의 누적 합을 계산하는 함수

print(df.apply(lambda x: x.max() - x.min())) # 행에 대해 함수 적용

                   A         B         C         D   F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971   1
2021-05-08  0.185619  0.291112  0.092958 -0.841058   3
2021-05-09 -0.194782  0.766149  1.522212 -0.743078   6
2021-05-10 -0.407344  1.061718  1.165142 -1.785783  10
2021-05-11 -0.969379 -0.164442  0.207974 -2.179495  15
2021-05-12 -0.955792 -1.459604 -0.684312 -1.520494  21

A    1.929535
B    2.063454
C    2.386422
D    1.701707
F    5.000000
dtype: float64

In [37]:
df.apply(np.cumsum)

                   A         B         C         D   F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971   1
2021-05-08  0.185619  0.291112  0.092958 -0.841058   3
2021-05-09 -0.194782  0.766149  1.522212 -0.743078   6
2021-05-10 -0.407344  1.061718  1.165142 -1.785783  10
2021-05-11 -0.969379 -0.164442  0.207974 -2.179495  15
2021-05-12 -0.955792 -1.459604 -0.684312 -1.520494  21

In [38]:
df

                   A         B         C         D  F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971  1
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087  2
2021-05-09 -0.380402  0.475037  1.429254  0.097980  3
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706  4
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712  5
2021-05-12  0.013586 -1.295162 -0.892286  0.659001  6

In [39]:
df.apply(np.cumsum,axis=1)

                   A         B         C         D         F
2021-05-07 -0.871958 -0.103665  0.307055 -0.130916  0.869084
2021-05-08  1.057577  0.580397  0.262634 -0.140453  1.859547
2021-05-09 -0.380402  0.094636  1.523890  1.621871  4.621871
2021-05-10 -0.212562  0.083007 -0.274063 -1.316769  2.683231
2021-05-11 -0.562035 -1.788195 -2.745363 -3.139074  1.860926
2021-05-12  0.013586 -1.281576 -2.173862 -1.514861  4.485139

In [40]:
df

                   A         B         C         D  F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971  1
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087  2
2021-05-09 -0.380402  0.475037  1.429254  0.097980  3
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706  4
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712  5
2021-05-12  0.013586 -1.295162 -0.892286  0.659001  6

In [41]:
print(df.apply(lambda x: x.max() - x.min())) # 행에 대해 함수 적용

A    1.929535
B    2.063454
C    2.386422
D    1.701707
F    5.000000
dtype: float64

In [44]:
df.apply(lambda x: x.max() - x.min())

A    1.929535
B    2.063454
C    2.386422
D    1.701707
F    5.000000
dtype: float64

In [47]:
df.A.max(), df.A.min()

(1.0575772349309827, -0.8719579507483204)

In [54]:
s = pd.Series(np.random.randint(1, 7, size = 60000))
s.value_counts()

5    10089
4    10044
6     9998
3     9969
1     9952
2     9948
dtype: int64

In [ ]:
 #pieces = [df[:3], df[3:7],df[1:7]

In [56]:
pieces = [df[:3], df[3:7], df[7:]] # 조각내기
print(pieces);print()

[                   A         B         C         D  F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971  1
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087  2
2021-05-09 -0.380402  0.475037  1.429254  0.097980  3,                    A         B         C         D  F
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706  4
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712  5
2021-05-12  0.013586 -1.295162 -0.892286  0.659001  6, Empty DataFrame
Columns: [A, B, C, D, F]
Index: []]

In [57]:
print(pd.concat(pieces))

                   A         B         C         D  F
2021-05-07 -0.871958  0.768293  0.410720 -0.437971  1
2021-05-08  1.057577 -0.477181 -0.317762 -0.403087  2
2021-05-09 -0.380402  0.475037  1.429254  0.097980  3
2021-05-10 -0.212562  0.295569 -0.357070 -1.042706  4
2021-05-11 -0.562035 -1.226160 -0.957168 -0.393712  5
2021-05-12  0.013586 -1.295162 -0.892286  0.659001  6

In [65]:
left = pd.DataFrame(
    {
        'a':['foo', 'foo'], 
     'lval': [1, 2]
     }
     )
right = pd.DataFrame({'a':['foo', 'foo'], 'rval': [4, 5]})

In [66]:
left

     a  lval
0  foo     1
1  foo     2

In [67]:
right

     a  rval
0  foo     4
1  foo     5

In [69]:
pd.merge(left, right, on = 'a')

     a  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [72]:
df = pd.DataFrame(
    {
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    }
)

In [74]:
a = df.groupby('A').sum() 
a

            C         D
A
bar -0.508179 -2.809716
foo  3.230221  0.354497

In [75]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x,y)
list(zipped)
x2, y2 = zip(*zip(x,y))
print(x2)
print(y2)

(1, 2, 3)
(4, 5, 6)

In [76]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x,y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [77]:
x2, y2 = zip(*zip(x,y))

In [78]:
x2

(1, 2, 3)

In [79]:
y2

(4, 5, 6)

In [82]:
a = df.groupby (['A','B']),sum()
a

TypeError: ignored

In [83]:
df = pd.DataFrame(
    {
        'A' : ['one', 'one', 'two', 'three'] * 3,
        'B' : ['A', 'B', 'C'] * 4,
        'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar' ] * 2,
        'D' : np.random.randn(12),
        'E' : np.random.randn(12)
    }
)

In [84]:
pd.pivot_table(df, values = 'D', index = ['A', 'B'], columns = ['C']) # 이 데이터로부터 피봇 테이블을 매우 쉽게 생성

C             bar       foo
A     B
one   A -0.162237 -0.555952
      B -0.319049 -0.352425
      C -0.150905  1.087706
three A -0.256336       NaN
      B       NaN -0.962175
      C  0.942664       NaN
two   A       NaN  0.011037
      B -1.189226       NaN
      C       NaN -0.078239